@import url(./horizontalnav.css);
:root{
    --bs-green:#04AA6D;
    --bs-teal:#20c997;
    --bs-black:#282a35;
    --bs-pink:#ffc0c7;
    --bs-yellow:#fff4a3;
    --bs-white:#ffffff;
    --bs-neowhite:#e7e9eb;
    --bs-gray-active:rgb(230,230,230);
    --bs-green-light:#d9eee1;
    --bs-pink-light:#f3ecea;
    --bs-blue : #96d4d4;

    --bs-codeEditor-outside :#e7e9eb;

    --bs-green-hover:#1cc084;
    --bs-teal-hover:#20c997;
    --bs-black-hover:#323542;
    --bs-pink-hover:#f8ccd1;
    --bs-yellow-hover:#a69b4a;
    --bs-white-hover:#faf0f0;
    --bs-gray-hover:#8d8a8a;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    box-sizing: border-box;
}
header{
    height: 75px;
    background-color: var(--bs-white);
    width: 100%;
    padding: 0 20px ;
    display: flex;
    align-items: center;
}
/*************utility class******************/
.btn{
    padding: 10px 20px;
    cursor: pointer;
}
.bg-black{
    background-color: var(--bs-black);
    color: var(--bs-white);
}
.bg-pink{
    background-color: var(--bs-pink);
    color: var(--bs-black);
}
.bg-yellow{
    background-color: var(--bs-yellow);
    color: var(--bs-black);
}
.bg-green{
    background-color: var(--bs-green);
    color: var(--bs-white);
}
.bg-white{
background-color: var(--bs-white);
color: var(--bs-black);
}
.bg-green-light{
    background-color: var(--bs-green-light);
    color: var(--bs-black);
}
.bg-blue{
    background-color: var(--bs-blue);
    color: var(--bs-black); 
}




.bg-black:hover{
    background-color: var(--bs-black-hover);
}
.bg-pink:hover{
    background-color: var(--bs-pink-hover);
}
.bg-yellow:hover{
    background-color: var(--bs-yellow-hover); 
}
.bg-green:hover{
    background-color: var(--bs-green-hover);
}
.bg-white:hover{
    background-color: var(--bs-gray-hover);
}
/******w3schools-logo***********/
.w3schools-logo{
    width: 60px;
    padding: 0px 8px;
    margin-right: 5px;
}
.w3schools-logo img{
    width: 100px;
}
/******************************header-left***********************/
.header-left{
    display: flex;
    align-items: center;
    height: 100%;
}
/* .header-left  */
.menu-btn {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    font-size: 18px;
    font-weight: 600;
    color: var(--bs-black);
    text-decoration: none;
    cursor: pointer;
}
.header-left .menu-btn:hover{
    background-color: var(--bs-green);
    color: var(--bs-white);
    padding: 0;
}
.header-left .menu-btn:first-child:hover{
    padding: 0;
}
.header-left .menu-btn:first-child:hover{
    background-color: transparent;
}
.fa-solid{
    padding: 0px 3px;

}

/************************header-right***************************/
.toggleLightDark{
    transform: rotate(180deg);
}
.toggleLightDark:hover{
   color: var(--bs-green); 
}
.header-right{
    display: flex;
    align-items: center;
    justify-items: flex-end;
    width: 100%;
    gap: 18px;
}
.header-right a{
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 50px;
    padding: 10px 20px;
    min-width: 50px;
}

#upgrade-btn{
    display: none;
}
#getcertified,
#video-btn{
    display: none;
}
#freewebsite{
    display: none;
}
#Tutorials-btn,
#references-btn,
#exercises-btn{
    display: none;
}
#menu-btn-mobile{
    display: flex;
}
.toggleLightDark{
    display: none;
}
#login-btn{
    display: block;
}
.toggleTranslate,
.toggle_search{
    display: none;
}
/***************************responsive*************************/
@media all and (min-width:1305px){
    #upgrade-btn{
        display: block;
    }
}
@media all and (min-width:1200px){
    #getcertified{
        display: block;
    }
    #video-btn{
        display: flex;
    }
}  
@media all and (min-width:950px){
    #freewebsite{
        display: block;
    }
}
@media all and (min-width:850px){
    #Tutorials-btn,
    #references-btn,
    #exercises-btn{
        display: flex;
    }
    #menu-btn-mobile{
        display: none;
    }
}
@media all and (min-width:600px){
    .toggleLightDark{
        display: block;
    }
}
@media all and (min-width:425px){
    .header-right a:last-child{
        padding: 10px 45px;
    }
}
@media all and (min-width:370px){
    .toggleTranslate,
    .toggle_search{
        display: block;
    }
}
/*******************mobile-menu-container***********************/
.mobile-menu-container{
    /* height: px; */
    background-color: var(--bs-neowhite);
    display: none;
    position: absolute;
    width: 100%;
    z-index: 50;
    color: red;
    box-sizing: border-box;
}
.mobile-menu-container ul{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}
.mobile-menu-container ul a{
    padding-bottom: 20px;
}
.mobile-menu-container ul div{
    padding-bottom: 20px;
}
.menu-btn-mobile_menu{
    color: var(--bs-black);
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
}
.mobile-menu-close-btn{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    border: none;
}
.mobile-menu-close-btn button{
    border: none;
    background-color: transparent;
}
.mobile-menu-close-btn i{
    font-size: 22px;
}
.mobile-menu-nav-hidden{
    display: flex;
    flex-direction: column;
}
@media all and (min-width:850px){
    /* .mobile-menu-container{
       display: none;
    } */
    .mobile-menu-nav-hidden{
        display: none;
    }
}
/*******************nested-navigation-containe***************/
.nested-navigation-container{
    background-color: var(--bs-black);
    color: var(--bs-white);
    position: absolute;
    width: 100%;
    padding-bottom: 50px;
    display: none;
    z-index: 30;
}
.nested-navigation-container{
    display: none;
}
@media all and (min-width:850px){
    .nested-navigation-container{
        display: block;
    }
}
.nested-navigition_container_close-btn{
    position: absolute;
    right: 0;
}
.nested-navigition_container_close-btn button{
    font-size: 30px;
    padding: 30px;
    background-color: transparent;
    border: none;
    color: var(--bs-white);
    cursor: pointer;
}
.nested-navigition_container_close-btn button:hover{
    background-color: var(--bs-white);
    color:var(--bs-black) ;
}
.nested-navigation-container_content{
    width: 80%;
    margin: auto; 
    padding-top: 50px;  
}
.nested-navigation-container_content h1{
    margin: 0px;
    color: var(--bs-yellow);
}
.nested-navigation-container_content_data{
    display: grid;
    grid-template-columns: repeat(3,minmax(100px,1fr));
}
.nested-navigation_item{
    margin-right: 20px;
}
.nested-navigation_item h2 {
    color: var(--bs-yellow);
    margin-top: 30px;
}
.nested-navigation_item a{
    display: block;
    color: var(--bs-white);
    font-size: 18px;
    text-decoration: none;
    font-weight: 550;
    padding: 5px 7px;
}
.nested-navigation_item a:hover{
background-color: var(--bs-neowhite);
color: var(--bs-black);
}
.nested-navigation_hidden{
    display: none;
}
.nested-navigation_item h2{
    padding: 5px;
}
/*******mobile_menu_tutorial**********/
.mobile_menu_Active{
    background-color: var(--bs-gray-active);
    width: 95%;
    display: block;
    text-align: center;
    box-sizing: border-box;
    margin: 0px 10px;
    padding: 5px 0px;
}
.nested-navigation-container_content_Mobile{
  background-color:var(--bs-black) ;  
  position: relative;
  /* left: 10px;
  right: 10px; */
  width: 100%;
  text-align: left;
  padding: 15px;
  z-index: 30;
}
.nested-navigation-container_content_Mobile h1{
    margin: 5px 0px;
    color: var(--bs-yellow);
    font-size: 22px;
}
.nested-navigation-container_content_Mobile h2{
    margin-top: 7px 0px;
    color: var(--bs-yellow);
    font-size: 23px;
}
.nested-navigation-container_content_Mobile a{
    display: block;
    color: var(--bs-white);
    font-size: 18px;
    text-decoration: none;
    padding: 5px 7px;
    letter-spacing: 0.5px;
    font-weight: 500;
}
.mobile_menuActive_tutorial{
    display: none;
}


/*****************utitlity text class *****************/

.text-white{
    color: var(--bs-white);
}
.section{
    margin: 0;
    padding: 0;
}
svg{
    margin: 0;
    padding: 0;
}
/*********************************************************************************/
.section_container{
    width: 85%;
    margin: auto;
    max-width: 500px;
}
.section_heading{
    background-color: var(--bs-black);
}
.section_heading .section_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 480px;
}
.section_heading h1{
    font-size: 50px;
    color: var(--bs-white);
    margin: 0;
}
.section_heading p{
    color: var(--bs-pink);
    font-size: 21px;
    font-weight: 550;
    text-align: center;
}
.section_heading_search{
    background-color: red;
    width: 100%;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section_heading_search i{
    background-color: var(--bs-green);
    height: 50px;
    width: 75px;
    font-size: 25px;
    border-radius: 0 50px 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bs-white);
}
.section_heading_search input{
    height: 100%;
    width: 100%;
    border-radius: 50px 0 0 50px;
    border: none;
    outline: none;
    padding: 0px 20px;
    font-size: px;
}
.section_heading a{
    display: block;
    color: white;
    font-size: 22px;
    font-weight: 550;
    margin: 30px 0px;
}
.section_heading a:hover{
    color: var(--bs-green);
}
@media all and (min-width:800px){
    .section_heading h1{
        font-size: 70px;
    }
    .section_heading p{
        font-size: 25px;
    }
}

/******************section_html*******************************/
.section_html{
position: relative;
top :-5px;
background-color: var(--bs-green-light);
padding: 1px;
/* height: 480px; */
display: flex;
justify-content: center;
/* align-items: center; */
}
.section_left{
padding: 1px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 100%;
max-width: 500px ;
}
.section_left h1{
    font-size: 60px;
    margin: 0;
}
.section_left p{
    font-size: 22px;
    font-weight: 550;
}
.section_left a{
    width: 100%;
    max-width: 230px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 550;
    /* color:var(--bs-black); */
    text-decoration: none;
    text-align: center;
    border-radius: 50px;
    margin-bottom: 30px;
}

@media all and (min-width:1000px){
    .section_left h1{
        font-size: 80px;
        margin: 0;
    }
    .section_left p{
        font-size: 22px;
        font-weight: 550;
    }
    .section_html{
        display: flex;
        justify-content: space-around;
        /* padding: 40px 0px; */
        /* height: 520px; */
        padding: 80px 0px;
    }
    .section_left{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
    }
    .section_right{
        display: block;
        background-color: var(--bs-codeEditor-outside);
        width: 42%;
        box-shadow: -5px -5px 10px rgba(0,0,0,0.2),
        5px 5px 10px rgba(0,0,0,0.1);
        border-radius: 5px;
        padding: 5px 20px;
        padding-bottom: 20px;
        color: var(--bs-black);
    }
    .editor{
        background-color: white;
        /* height: 280px; */
        min-height: 100%;
        border-left: 5px solid var(--bs-green);
        padding: 10px;
        color: var(--bs-black);
    }
    .editor_btn{
        background-color: var(--bs-green);
        color: var(--bs-white);
        border: none;
        font-size: 22px;
        font-weight: 500;
        padding: 10px 40px;
        margin-top: 20px;
        border-radius: 50px;
        display: inline-block;
        text-decoration: none;
    }
}

/****************************section_css*************************************/
.section_css,
.section_javascript,
.section_python,
.section_sql{
    position: relative;
    top: -5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* height: 600px; */
    padding: 80px 0px;
}
.section_css{
    background-color: var(--bs-yellow);
}
.section_javascript{
    background-color: var(--bs-black); 
    color: var(--bs-white);
}
.section_python{
    background-color: var(--bs-pink-light);
}
.section_sql{
    background-color: var(--bs-blue);
}
/*****************courses_card_container***********************************************/
.courses_card_container{
    background-color: var(--bs-black);
    padding: 50px 10px;
    position: relative;
    top: -5px;
}
.courses_bigcard,
.courses_middlecar,
.courses_smallcard{
    display: grid;
    text-align: center;
    gap: 15px;
}
.courses_bigcard div{
    padding: 50px 0px;
    border-radius: 5px;
}
.courses_bigcard h2{
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
}
.courses_bigcard p{
    font-size: 20px;

}
.courses_bigcard button{
    font-size: 18px;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    width: 100%;
    max-width: 200px;
}
.courses_middlecard,
.courses_smallcard{
    margin-top: 15px;
}
.courses_middlecard{
    display: grid;
    gap: 20px;
    margin-top: 20px;
}
.courses_middlecard a,
.courses_smallcard a{
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    padding: 25px 0px;
    border-radius: 5px;
}
.courses_smallcard a{
    display: block;
    font-size: 30px;
    font-weight: 550;
    padding: 40px 0px;
}
.courses-middlecard-padding a{
    padding: 40px 0px;
}
.courses-middlecard-padding h2{
    margin: 0;
}
@media all and (min-width:600px){
    .courses_smallcard{
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        grid-template-areas: auto;
        grid-template-rows: auto;
        gap: 90px;
    }
}
@media all and (min-width:1000px){
    .courses_card_container{
        padding: 50px 40px;
    }
    .courses_bigcard,
    .courses_middlecard{
        grid-template-columns: repeat(2,minmax(200px,1fr));
        gap: 70px;
    }
    .courses_middlecard,
    .courses_smallcard{
        margin-top: 70px;
    }
    /* .courses_smallcard{
        grid-template-columns: repeat(4,minmax(200px,1fr));
        gap: 70px;
    } */
}
/********************************codeEditor**********************************************/
.codeEditor_part{
    text-align: center;
    width: 100%;
    max-width: 900px;
    /* background-color: red; */
    margin: auto;
    margin-top: 100px;
}
.codeEditor_part h1,
.codeEditor_part p{
    color: white;
}
.codeEditor_part h1{
    font-size: 55px;
    margin-bottom: 0;
}
.codeEditor_part p{
    font-size: 21px;
}
.codeEditor_dot{
    padding: 8px;
    display: inline-block;
    border-radius: 8px;
}
.codeEditor_part_left{
    width: 100%;
    max-width: 200px;
    text-align: left;
}
.codeEditor_part_right{
    background-color: var(--bs-white);
    width: 100%;
    max-width: 600px;
    padding: 3px;
    text-align: left;
}
.codeEditor_part_Container{
    background-color: rgb(238, 234, 234);
    /* height: 380px; */
    border-radius: 5px;
}
.codeEditor_part_Container_top{
    display: flex;
    align-items: center;
    padding: 15px;
}
.codeEditor_condition{
    text-align: left;
    display: flex;
    /* padding: 10px; */
}
.codeEditor_condition div{
    font-size: 18px;
    font-weight: 550;
    padding: 10px;
    cursor: pointer;
}
.codeEditor_condition .active{
    background-color: rgb(196, 196, 199);
}
#animationcodeEditorpart{
    width: 100%;
}
.codeEditor_btn_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5px;
}
.btn_codeEditor_down{
    display: block;
    margin-top: 20px;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}
/**************************w3schools_spaces_container****************************************/
.w3schools_spaces_container{
    width: 100%;
    max-width: 1200px;
    /* background-color: red; */
    margin: auto;
    text-align: center;
    margin-top: 100px;
}
.w3schools_spaces_container img{
    width: 100%;
}
.w3schools_spaces_container h1{
    font-size: 55px;
    margin-bottom: 0;
    color: var(--bs-white);
    padding-bottom: 20px;
}
.w3schools_spaces_container p{
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--bs-white);
    padding-bottom: 20px;
    gap: 20px;
}
.w3schools_spaces_container a{
    color: var(--bs-pink);
}
.w3schools_spaces_container a:hover{
    color: var(--bs-green);
}
.w3schools_spaces_image_howitwork{
    padding: 10px;
    margin-bottom: 10px;
}
@media all and (min-width:600){
    .w3schools_spaces_image_howitwork{
        padding: 50px;
    }   
}
.LearnMoreBtn{
    font-size: 20px;
    width: 100%;
    padding: 7px 30px;
    max-width: 250px;
    border-radius: 30px;
    text-decoration: none;
    margin-top: 20px;
    display: block;
}
@media all and (min-width:600){
    .w3schools_spaces_image_howitwork{
        padding: 50px;
    }
    .LearnMoreBtn{
        font-size: 25px;
        width: 100%;
        padding: 7px 30px;
        max-width: 250px;
        border-radius: 30px;
        text-decoration: none;
    }   
}

/***************************learning_section********************************************/
.learning_section{
  text-align: center; 
  padding: 50px 10px;
  position: relative;
  top: -5px;
}
.learning_container{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
}
.learning_section a{
    display: block;
}
.signupfree{
    align-self: center;
    padding: 10px 35px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 50px;
}
.learning_container h1{
    font-size: 55px;
    margin-bottom: 0;
}
.learning_container p{
    font-size: 21px;
}
.learning_container img{
    margin: 20px 0px;
}
/***************************become_pro_user********************************************/
.becomeprouser{
    position: relative;
    top: -5px;
    padding: 90px 30px;
}
.becomeapro_container{
    text-align: center;
}
.becomeapro_container h1{
    font-size: 55px;
    margin: 0;
}
.becomeapro_container p{
    font-size: 21px;
    font-weight: 550;
    padding: 10px 0;
}
.becomepro_unlock{
    color: var(--bs-pink);
    margin-top: 20px;
    margin-bottom: 20px;
}
.becomeFeature_item{
    display: flex;
}
.becomeFeature_list{
    margin: auto;
    width: fit-content;
}
.becomeFeature_item img{
    margin-right: 15px;
}
.becomeapro_container button{
   padding: 10px 40px;
   font-size: 18px; 
   border-radius: 50px;
   border: none;
   width: 100%;
   max-width: 250px; 
   margin-top: 30px;
}
.becomeapro_container button a{
    color: var(--bs-white);
    text-decoration: none;
}
/***************************color_section********************************************/
.colorsection{
    padding: 50px 20px;
    text-align: center;
    /* background-color: var(--bs-neowhite); */
}
.colorsection h1{
    font-size: 55px;
    padding: 20px 0px;
}
.colorsection p{
    font-size: 21px;
    padding: 20px 0px;
}
.colorsection img{
    padding: 25px 0px;
}
.colorsection img:hover{
    opacity: 0.8;
    cursor: pointer;
}
/***************************codegame_section********************************************/
.codegame_container{
    text-align: center;
    background-color: var(--bs-blue);
    padding: 50px 20px;

}
.codegame_container h1{
    font-size: 55px;
    margin: 0;
    font-family: "Freckle Face", system-ui;
}
.codegame_container p{
    font-size: 21px;
    font-family: "Freckle Face", system-ui;
}
.codegame_container button{
    padding: 10px 35px;
    font-size: 18px;
    border: none;
    border-radius: 50px;   
}
.codegame_container button a{
    color: var(--bs-white);
    text-decoration: none;
}
.codegamebtn_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
/***************************section_exercise********************************************/
.section_exercise{
    background-color: var(--bs-black);
    padding: 50px 20px;
}
.section_exercise_container{
    text-align: center;
    max-width: 1200px;
    margin: auto;
}
.section_exercise_container h1{
    font-size: 55px;
    margin: 0;
    color: var(--bs-white);
}
.section_exercise_container p{
    font-size: 55px;
    color: var(--bs-white);
}
.section_exercise_quiz{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    padding-top: 30px;
}
.section_exercise_quiz a{
    min-width: 200px;
   flex: 1;
   padding: 70px;
   font-size: 30px;
   text-decoration: none;
   border-radius: 5px;
}
@media all and (min-width:1000px){
    .section_exercise_quiz{
        gap: 70px;
    }
}
/*****************web_template*************************************************/
.web_template{
    background-color: var(--bs-neowhite);
    padding: 50px 20px;
}
.web_template_container{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.web_template_container img{
    width: 100%;
}

.web_template_container h1{
    font-size: 55px;
    margin: 0;
}

.web_template_container p{
    font-size: 21px;
}
.web_template_link{
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 30px;
    text-decoration: none;
}
/****************Kickstart_section*************************************************/
.Kickstart_section{
    background-color: var(--bs-black);
    padding: 50px 20px;
    position: relative;
}
.Kickstart_container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.Kickstart_container h1{
    color: var(--bs-pink);
    font-size: 50px;
}
.Kickstart_container a{
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 30px;
    text-decoration: none;
}
.Kickstart_certified{
    width: 100px;
    position: absolute;
    top: -50px;
    right: 50px;
}
@media all and (min-width:600px){
    .Kickstart_certified{
        width: 150px;
        position: absolute;
        top: auto;
        bottom : -50px;
        right: 50px;
    }  
}
/****************how_to_section*************************************************/
.howtosection_section{
    padding: 50px 10px ;
}
.howtosection_section_container{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}
.howtosection_section_container h1{
    font-size: 55px;
    margin: 0;
}
.howtosection_section_container p{
    font-size: 21px;
}
.howtosection_list{
    display: flex;
    overflow: hidden;
}
.howtosection_item{
    transform: translateX(-0%);
    position: relative;
}
.howtosection_imageslider{
    position: relative;
}
.howtosection_button{
    position: absolute;
    top: 0;
    bottom: 70px;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.howtosection_button button{
    font-size: 20px;
    border: none;
    color:var(--bs-white);
    background-color: transparent;
    text-shadow: 10px 10px 10px rgba(0,0,0,0.1);
    padding: 5px;
}
.howtosection_button button:hover{
    background-color: rgba(0,0,0,0.4);
}
.howtosection_active_image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}
.howtosection_active_image div{
    padding: 10px;
    background-color: rgb(240, 236, 236);
    margin: 3px;
    background-color: rgb(196, 190, 190);
    border-radius: 10px;
}
.howtosection_active_image .activeImage{
    /* background-color: rgb(196, 190, 190); */
    background-color: rgb(133, 132, 132);
}
.howtosection_item p:first-child{
    position: absolute;
    top: 0;
    color: white;
    padding: 10px;
}
.howtosection_item p:last-child{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
}
.howtosection_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.verticalbox{
    width: 50px;
    height: 100px;
    background-color: var(--bs-black);
}
.howtosection_bottom a{
    background-color: var(--bs-black);
    color: white;
    display: block;
    width: 100%;
    min-width: 200px;
    max-width: 400px;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
}
.howtosection_bottom a:hover{
    background-color: var(--bs-green);
}

/****************footer*************************************************/
.footer{
    background-color: var(--bs-black);
    padding: 60px 30px;
}
.footer a{
    color: currentColor;
}
.footer_top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer_top .menu{
    color: var(--bs-black);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.footer_top .menu a{
    background-color: var(--bs-white);
    font-size: 18px;
    font-weight: 550;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
}
#topfootermenu1,
#topfootermenu2,
#topfootermenu3{
    width: 110px;
    text-align: center;
}
@media all and (max-width:400px){
    .footer_top .menu a{
        background-color: var(--bs-white);
        font-size: 18px;
        font-weight: 550;
        padding: 10px;
        text-decoration: none;
        border-radius: 5px;
        margin: 5px;
        width: 100%;
        display: block;
    } 
    .footer_top{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .footer_top .menu{
       margin-bottom: 10px;
    }
    #topfootermenu1,
    #topfootermenu2,
    #topfootermenu3{
        width: auto;
        text-align: center;}
}
.forum_about{
    color: var(--bs-white);
    text-decoration: none;
}
.forum_about a{
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
}
/* .forumabout a:first-child{
    border-right: 2px solid white;
} */
.socialMedia{
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.socialMedia a{
    font-size: 20px;
    margin: 15px 10px;
}
.footer_des{
    color: var(--bs-white);
    text-align: center;
    font-size: 17px;
}
.footer_des a:hover{
    color: var(--bs-green);
}
.footer_des P{
    padding-bottom: 5px;
    margin-bottom: 20px;
}
/***************ai content**************/
.footer-middle-content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: var(--bs-black);
    color: var(--bs-white);
    font-size: 20px;
    cursor: pointer;
}

.footer-middle-content h2 {
    margin-bottom: 10px;
}
.footer-middle-content h2 :hover{
    color: var(--bs-yellow);
}

.footer-middle-content a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

.footer-middle-content a:hover {
    color: var(--bs-yellow);
    text-decoration: underline;
}





